
@{
    ViewBag.Title = "EditarUsuario";
}



<form method="post" action="EditarUsuario">
    <fieldset class="border border-dark p-2 m-2">
        <legend class="w-auto pl-3 pr-3">Editar usuário</legend>
        <div class="container row">
            <div class="form-group col-3">
                <label class="text-secondary">Usuário</label>
                <input class="form-control col" type="text" value="@ViewData["Nome"]" name="nomex" readonly />

            </div>
        </div>

        <div class="container row">

            <div class="form-group col-3">
                <label class="text-secondary">Nome </label>
                <input class="form-control col" type="text" value="@ViewData["Nome"]" name="nome" maxlength="60" pattern="[A-Za-z\s]{4,60}" />

            </div>
            <div class="form-group col-3">
                <label class="text-secondary">Email</label>
                <input class="form-control col" type="text" value="@ViewData["Email"]" name="email" maxlength="60" />
            </div>
            <div class="form-group col-3">
                <label class="text-secondary">RG </label>
                <input class="form-control col" type="text" value="@ViewData["RG"]" name="rg" maxlength="60" />
            </div>
            <div class="form-group col-3">
                <label class="text-secondary">Senha</label>
                <input class="form-control col" type="text" value="@ViewData["Senha"]" name="senha" maxlength="60" />
            </div>
        </div>
    </fieldset>
    <hr />
    <div class="row col">
        <div>
            <button type="submit" class="btn btn-dark mr-2">Alterar</button>
        </div>
        <div>
            <button type="submit" value="Voltar" name="Button" class="btn btn-dark mr-2">Voltar</button>
        </div>
        <div>
            <button type="submit" value="Deletar" name="Button" class="btn btn-dark">Excluir</button>
        </div>

    </div>
</form>