<h3 class="text-primary">Alterar</h3>

<form class="mt-5" method="post" action="Editar">

    <fieldset class="border border-dark p-2 m-2">
        <legend class="w-auto pl-3 pr-3">Editar Cliente</legend>
        <div class="container row">

            <div class="form-group col-3">
                <label class="text-secondary">Cliente</label>
                <input class="form-control col bg-secondary" type="text" name="nome" maxlength="60" value="@ViewData["Nome"]" readonly />
            </div>
            <div class="form-group col-3">
                <label class="text-secondary">Nome </label>
                <input class="form-control col" type="text" name="nomex" maxlength="60" value="@ViewData["Nome"]" required/>
            </div>
            <div class="form-group col-3">
                <label class="text-secondary">Endereço</label>
                <input class="form-control col" type="text" name="endereco" maxlength="60" value="@ViewData["Endereco"]" required/>
            </div>
            <div class="form-group col-3">
                <label class="text-secondary">Bairro </label>
                <input class="form-control col" type="text" name="bairro" maxlength="60" value="@ViewData["Bairro"]" required />
            </div>
            <div class="form-group col-3">
                <label class="text-secondary">Estado</label>
                <input class="form-control col" type="text" name="estado" maxlength="60" value="@ViewData["Estado"]" required />
            </div>
            <div class="form-group col-3">
                <label class="text-secondary">Cep: 00000-000 </label>
                <input class="form-control col cep" type="text" name="cep" maxlength="60" value="@ViewData["Cep"]" pattern="[0-9]{5}-[0-9]{3}" placeholder="Ex. 00000-000" required/>
            </div>
            <div class="form-group col-3">
                <label class="text-secondary">Telefone: (00)00000-0000</label>
                <input class="form-control col telefone" type="text" name="telefone" maxlength="60" value="@ViewData["Telefone"]" pattern="\([0-9]{2}\)[0-9]{5}-[0-9]{4}" placeholder="Ex. (21)99999-9999" required />
            </div>
            <div class="form-group col-3">
                <label class="text-secondary">Email: exemplo@exemplo.com</label>
                <input class="form-control col" type="email" name="email" maxlength="60" value="@ViewData["Email"]" required />
            </div>
            <div class="form-group col-3">
                <label class="text-secondary">CPF:00000000000 </label>
                <input class="form-control col cpf" type="text" name="cpf" value="@ViewData["CPF"]" required />
            </div>

        </div>
    </fieldset>
    <!-------------------------------------------------------------------------->
      <hr />
    <div class="form-group container row">
        <button type="submit" name="BtnSalvar" value="@ViewData["Id"]" class="btn btn-dark mr-3"><span class="fa fa-save"></span>Salvar</button>
        <button type="submit" name="Menu" value="Delete" class="btn btn-dark mr-3"><span class="fa fa-trash"></span> Deletar</button>
        <a type="submit" class="btn btn-dark mr-3" href="@Url.Action("Carteira","Home")"><span class="fa fa-backward"></span> Voltar</a>
    </div>

</form>