<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*<div> @Html.ActionLink("Adicionar Novo Cliente", "Novo", "Home")</div><br />
        <div> @Html.ActionLink("Procurar Cliente", "Carteira", "Home")</div><br />
        <div> @Html.ActionLink("Editar Cliente", "Editar", "Home")</div><br />
        <div> @Html.ActionLink("Sair", "Index", "Home")</div><br />*@




    <h2 class="text-center text-secondary">Rafael Lira Informática</h2>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 form-group">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Rafael Lira Informática - OVERCLOCK</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
